extends ../layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-5 Pagamento del Viaje
        if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje
        .row.justify-content-center
                    .col.md-8
                        p.text-center Es un sitio ejemplo. Entonces, no he puedo la tarjeta de credido.
                        p.text-center Despues de haber escribido el nombre y el correo, un correo esta enviado automaticamente
                        p.text-center Y el numero de viajes Disponibles si reduce de uno. Si puede ver en la rubrica Mas Información de un viaje
                        form(action="", method="POST")
                            .form-group
                                label(for="nombre")  Nombre
                                input(id="nombre", type="text", class="form-control", placeholder="Tu nombre", name="nombre", value=nombre)
                            .form-group
                                label(for="correo")  Correo Electronico
                                input(id="correo", type="email", class="form-control", placeholder="Tu correo", name="correo", value=correo)
                                input(type="submit", value="PAGAR", class="btn btn-success btn-block")

        