extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p ¿Quieres desconectar y pasar unas vacaciones inolvidables? 
                p Tenemos unos viajes para responder a tus deseos
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        include ../layout/partials/viajes
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo 2019
                        p.precio $2500 USD
    .container
        include ../layout/partials/testimoniales